<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>582674232826-7g51s375rh4j7mtis1615jt63f13b22k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582674232826-7g51s375rh4j7mtis1615jt63f13b22k</string>
	<key>API_KEY</key>
	<string>AIzaSyBQYUgLbqZCiHVksrriYIb6ymGe5OqURbE</string>
	<key>GCM_SENDER_ID</key>
	<string>582674232826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Epitech.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-d6f31</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-d6f31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582674232826:ios:bda2f3118a7fafaa</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-d6f31.firebaseio.com</string>
</dict>
</plist>